<template>
	<canvas id="pie-chart"></canvas>
</template>
<script>
require('chart.js');

export default{
	data: function(){
		return {
			canvas: null,
			chart: null,
        	pieGraph: {
            	labels: [],
            	datasets: { data: [100] }
        	},
        	colors: [
				'#4dc9f6',
				'#f53794',
				'#537bc4',
				'#acc236',
				'#f67019',
				'#166a8f',
				'#00a950',
				'#58595b',
				'#8549ba'
			]
        }
	},
	mounted(){
		var _this = this;

		this.canvas = document.getElementById('pie-chart').getContext('2d');
		this.chart = new Chart(this.canvas, {
			type: 'doughnut',
			data: {
			    datasets: [{data: [], backgroundColor: []}],
			    labels: []
			},
			options: {
				legend: {
					position: 'right'
				}
			}
		});

		appEmit.$on('valueChange', _this.getData);

		this.getData();
	},
	methods: {
		getData(){
            var _this = this;
            axios.get('/api/graphs/pie')
                .then(function(res){
		            _this.chart.data.labels = res.data.labels;
		            _this.chart.data.datasets[0].data = res.data.values;

		            for(var i = 0; i <= res.data.labels.length-1; i++){
		            	_this.chart.data.datasets[0].backgroundColor.push(_this.colors[i]);
		            }
		            _this.chart.update();
                });
		}
	}
}
</script>