<template>
	<canvas id="stacked-graph"></canvas>
</template>
<script>
require('chart.js');

export default{
	data: function(){
		return {
			canvas: null,
			chart: null,
	        stackedGraph: {
	            options: {
	                responsive: true,
	                scales: {
	                    xAxes: [{
	                        stacked: true,
	                    }],
	                    yAxes: [{
	                        stacked: true
	                    }]
	                },
	                legend: {
	                    display: false
	                }
	            },
	            labels: [],
	            datasets: []
	        }
    	}
	},
	mounted(){
		var _this = this;
		// console.log(_this.stackedGraph);
		this.canvas = document.getElementById('stacked-graph').getContext('2d');
		this.chart = new Chart(this.canvas, {
			type: 'bar',
			options: _this.stackedGraph.options,
			data: {
			    datasets: [{data: [], backgroundColor: []}],
			    labels: []
			}
		});

		appEmit.$on('valueChange', _this.getData);

		this.getData();
	},
	methods: {
		getData(change){
            var _this = this;

			if(typeof change === 'undefined'){
				change = '24h';
			}
			
            axios.get('/api/graphs/stacked?change=' + change)
                .then(function(res){
                	_this.chart.data.datasets = res.data.datasets;
                	_this.chart.data.labels = res.data.labels;
		            _this.chart.update();
                });
        }
	}
}
</script>