<template>
	<form>
	    <div class="grid-x grid-margin-y">
	    	<div class="cell small-12" v-if="error">
	    		<span class="a-error">{{ error }}</span>
	    	</div>
	        <div class="cell small-12">
	        	<coin-search></coin-search>
	            <div class="m-formItem">
	                <float-label>
		                <input 
		                	type="text" 
		                	id="amount" 
		                	name="amount"
		                	placeholder="number of coins:"
                            autocomplete="off"
		                	v-model="submitData.amount">
	                </float-label>
	            </div>
	        </div>
	        <div class="cell small-12 text-center">
	            <button 
	            	class="button" 
	            	v-on:click.prevent="add()" 
	            	:disabled="!submitData.amount || !submitData.coin">add coin</button>
	        </div>
	    </div>
	</form>
</template>
<script>
import FloatLabel from 'vue-float-label/components/FloatLabel';
import 'vuejs-noty/dist/vuejs-noty.css';

export default{
	components: {
		FloatLabel
	},
    mounted() {
        var _this = this;

        coinEmit.$on('coinSelected', function(data){
        	_this.submitData.coin = data;
        })
    },
    data: function(){
    	return {
    		error: null,
    		submitData: {
    			amount: null,
    			coin: null
    		}
    	}
    },
    methods: {
    	add: function(){
    		var _this = this;

    		this.submitData.amount = parseFloat(this.submitData.amount);

    		axios.post('/api/coins/create', this.submitData)
    			.then(
                    (data) =>{
    				    appEmit.$emit('modalToggle', false);
    				    _this.$noty.success('You\'ve successfully added ' + this.submitData.amount + ' ' + this.submitData.coin + '.');
                        
                        coinEmit.$emit('coinsUpdated', data);
                    },  
                    (e) => {
                        if(typeof e.response === 'undefined'){
                            return false;
                        }
    				    _this.error = e.response.data.message;
                    }
                );
    	}
    }
}
</script>