<template>
	<div class="m-coinList">
		<div class="m-coinList__searchBox">
			<input type="text" id="coin" name="coin" placeholder="find your coin" v-on:keyup="find()" v-model="query"autocomplete="off">

			<svg version="1.1" id="Magnifying_glass" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px"
 y="0px" viewBox="0 0 20 20" enable-background="new 0 0 20 20" xml:space="preserve">
			<path fill="#FFFFFF" d="M17.545,15.467l-3.779-3.779c0.57-0.935,0.898-2.035,0.898-3.21c0-3.417-2.961-6.377-6.378-6.377
				C4.869,2.1,2.1,4.87,2.1,8.287c0,3.416,2.961,6.377,6.377,6.377c1.137,0,2.2-0.309,3.115-0.844l3.799,3.801
				c0.372,0.371,0.975,0.371,1.346,0l0.943-0.943C18.051,16.307,17.916,15.838,17.545,15.467z M4.004,8.287
				c0-2.366,1.917-4.283,4.282-4.283c2.366,0,4.474,2.107,4.474,4.474c0,2.365-1.918,4.283-4.283,4.283
				C6.111,12.76,4.004,10.652,4.004,8.287z"/>
			</svg>
		</div>
		<div class="m-coinList__list">
			<ul>
				<li class="loader" v-if="loading">
					<img src="/img/svg/loader.svg">
				</li>
				<li v-for="coin in coins">
					<label class="a-coin" :for="coin.symbol">
						<span v-html="coin.icon" v-if="coin.icon"></span>
						{{ coin.name }}
						<input type="radio" :value="coin.symbol" name="coins" :id="coin.symbol" v-model="selectedCoin" v-on:change="selected()">
						<span class="check">
							<svg version="1.1" id="Check" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 20 20" enable-background="new 0 0 20 20" xml:space="preserve">
							<path fill="#FFFFFF" d="M8.294,16.998c-0.435,0-0.847-0.203-1.111-0.553L3.61,11.724c-0.465-0.613-0.344-1.486,0.27-1.951
							c0.615-0.467,1.488-0.344,1.953,0.27l2.351,3.104l5.911-9.492c0.407-0.652,1.267-0.852,1.921-0.445
							c0.653,0.406,0.854,1.266,0.446,1.92L9.478,16.34c-0.242,0.391-0.661,0.635-1.12,0.656C8.336,16.998,8.316,16.998,8.294,16.998z"/>
							</svg>

						</span>
					</label>
				</li>
			</ul>
		</div>
	</div>
</template>
<script>
import FloatLabel from 'vue-float-label/components/FloatLabel'

export default{
	components: {
		FloatLabel
	},
	data: function(){
		return {
			coins: [],
			selectedCoin: null,
			query: null,
			typeTimeout: null,
			loading: false
		}
	},
	mounted(){
		var _this = this;

		axios.get('/api/marketdata/top50')
			.then(function(res){
				_this.coins = res.data;
			});
	},
	methods: {
		find(){
			var _this = this;

			_this.loading = true;
			_this.coins = [];
			clearTimeout(this.typeTimeout);

			this.typeTimeout = setTimeout(function(){
				axios.get('/api/marketdata/find?abbr=' + _this.query)
					.then(function(res){
						_this.loading = false;
						_this.coins = res.data;
					})
			}, 500);
		},
		selected: function(){
			coinEmit.$emit('coinSelected', this.selectedCoin);
		}
	}
}
</script>