<template>
	<form>
	    <div class="grid-x grid-margin-y">
	    	<div class="cell small-12" v-if="error">
	    		<span class="a-error">{{ error }}</span>
	    	</div>
	        <div class="cell small-12">
	            <div class="m-formItem">
	                <float-label>
		                <input 
		                	type="text" 
		                	id="amount" 
		                	name="amount"
		                	placeholder="number of coins:"
                            autocomplete="off"
		                	v-model="submitData.amount">
	                </float-label>
	            </div>
	        </div>
	        <div class="cell small-12 text-center">
	            <button 
	            	class="button" 
	            	v-on:click.prevent="save()" 
	            	:disabled="!submitData.amount">save coin</button>
	        </div>
	    </div>
	</form>
</template>
<script>
import FloatLabel from 'vue-float-label/components/FloatLabel';
import 'vuejs-noty/dist/vuejs-noty.css';

export default{
	components: {
		FloatLabel
	},
	props: ['coin'],
	data: function(){
		return {
			error: null,
			submitData: {
				amount: null
			}
		}
	},
	created(){
		this.submitData.amount = this.coin.amount;
	},
	methods: {
		save(){
			var _this = this;

			axios.post('/api/coins/edit/' + this.coin.id, _this.submitData)
				.then(
                    (data) =>{
    				    appEmit.$emit('editModalToggle', false);
    				    _this.$noty.success('You\'ve successfully edited ' + this.coin.coin + '.');
                        
                        coinEmit.$emit('coinsUpdated', data);
                    },  
                    (e) => {
                        if(typeof e.response === 'undefined'){
                            return false;
                        }
    				    _this.error = e.response.data.message;
                    })
		}
	}
}
</script>