<template>
    <transition name="modal">
        <div class="m-modal__mask align-center align-middle">
            <div class="m-modal__container">
                <div class="o-card">
                    <header class="o-card__header">
                        <div class="grid-x align-middle">
                            <div class="cell small-6">
                                <slot name="title"></slot>
                            </div>
                            <div class="cell small-6 text-right">
                                <a href="#" v-on:click.prevent="$emit('close')" class="a-addButton">
                                    <svg version="1.1" id="Squared_cross" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 20 20" enable-background="new 0 0 20 20" xml:space="preserve"><path fill="#FFFFFF" d="M16,2H4C2.9,2,2,2.9,2,4v12c0,1.1,0.9,2,2,2h12c1.1,0,2-0.9,2-2V4C18,2.9,17.1,2,16,2z M13.061,14.789
    L10,11.729l-3.061,3.06L5.21,13.061L8.271,10l-3.06-3.061L6.94,5.21L10,8.271l3.059-3.061l1.729,1.729L11.729,10l3.06,3.061
    L13.061,14.789z"></path></svg>
                                </a>
                            </div>
                        </div>
                    </header>
                    <div class="o-card__content">
                        <slot name="content"></slot>
                    </div>
                </div>
            </div>
        </div>
    </transition>
</template>