<template>
    <div class="m-portfolioWorth">
        <span class="m-portfolioWorth__title">my portfolio worth</span>
        <span class="m-portfolioWorth__number">{{ purseAmount | currency }}</span>
        <span class="m-portfolioWorth__btc" v-if="btc !== 0">Ƀ{{ btc }}</span>
    </div>
</template>
<script>
export default{
	data: function(){
		return {
			purseAmount: 0,
			btc: 0
		}
	},
	mounted(){
		var _this = this;
		
		this.getData();
		appEmit.$on('valueChange', _this.getData);
	},
	methods: {
		getData: function(){
			var _this = this;

            axios.get('/api/purse')
                .then(function(res){
                	_this.purseAmount = res.data.usd;
                	_this.btc = res.data.btc;
                });
		}
	}
}
</script>