.o-card{
	width: 100%;
	background: $white;
	padding: 20px;
	box-shadow: 0 1px 3px 0 #000000;

	@include breakpoint(medium){
		min-height: 100%;
	}

	&__header{
		padding-bottom: 15px;
		border-bottom: solid 2px map-get($foundation-palette, primary);

		h2{
			margin: 0;
			font-size: rem-calc(14);
			font-weight: bold;
			display: flex;
			align-items: center;

			svg{
				width: 12px;
				height: 12px;
				margin-left: 10px;
				vertical-align: top;
			}
		}
	}

	&__content{
		margin-top: 20px;
	}

	@include breakpoint(small only){
		margin-bottom: 40px;
	}
}