.o-footer{
	color: $white;
	font-size: rem-calc(12);
	padding-bottom: 20px;

	@include breakpoint(small only){
		text-align: center;

		.text-right{
			text-align: center;
		}

		nav{
			margin-top: 10px;
		}
	}
}