#app{
	display: flex;
	min-height: 100vh;
	flex-direction: column;
	position: relative;
}
[v-cloak] {display: none !important;}
// Fonts
@import url('https://fonts.googleapis.com/css?family=Montserrat:400,400i,600,700');

@import "variables";
@import "~foundation-sites/scss/foundation";

@include foundation-global-styles;
@include foundation-xy-grid-classes;
@include foundation-typography;
@include foundation-button;
@include foundation-flex-classes;
@include foundation-menu-icon;
@include foundation-visibility-classes;
@include foundation-label;

@import "organisms/header";
@import "organisms/o-card";
@import "organisms/o-coins";
@import "organisms/o-banner";
@import "organisms/o-mainContent";
@import "organisms/o-footer";
@import "organisms/o-level";

@import "molecules/m-selectbox";
@import "molecules/m-portfolioWorth";
@import "molecules/m-coin";
@import "molecules/m-footerNav";
@import "molecules/m-modal";
@import "molecules/m-formItem";
@import "molecules/m-coinList";
@import "molecules/m-article";
@import "molecules/m-footerBottom";
@import "molecules/m-socialNav";
@import "molecules/m-news";
@import "molecules/m-twitter";

@import "atoms/a-logo";
@import "atoms/a-menuToggle";
@import "atoms/a-addButton";
@import "atoms/a-coin";
@import "atoms/a-error";
@import "atoms/a-toggleNav";
@import "atoms/a-pagination";