.a-addButton{
	width: 25px;
	display: inline-block;

	svg{
		vertical-align: top;
	}

	svg path{
		fill: map-get($foundation-palette, primary);
		transition: fill 0.3s;
	}

	&:hover svg path{
		fill: $medium-gray;
	}
}