.a-coin{
	display: flex;
	padding: 10px;
	font-size: rem-calc(14);
	align-items: center;
	font-weight: bold;
	color: $medium-gray;
	transition: color 0.2s;
	cursor: pointer;
	overflow: hidden;

	&:hover{
		color: map-get($foundation-palette, primary);
	}

	svg{
		width: 20px;
		height: 20px;
		margin-right: 10px;
		vertical-align: top;
	}
	input{
		position: absolute;
		left: -9999999px;
	}
	.check{
		display: flex;
		width: 18px;
		height: 18px;
		border: solid 1px $medium-gray;
		transition: background 0.3s;
		border-radius: 2px;
		margin-left: auto;
		justify-content: center;
		align-items: center;

		svg{
			vertical-align: top;
			margin-right: 0;
			width: 10px;

			path{
				fill: $medium-gray;
				transition: fill 0.3s;
			}
		}
	}
	input[type="radio"]:checked + .check svg path{
		fill: $white;
	}
	input[type="radio"]:checked + .check{
		background: map-get($foundation-palette, primary);
	}
}