.a-logo{
	display: inline-block;
	vertical-align: top;
	width: 200px;

	svg{
		vertical-align: top;
	}

	&__text, &__globe{
		fill: $light-gray;
		transition: fill 0.3s;
	}

	&__underline, &__btc{
		fill: map-get($foundation-palette, primary);
		transition: fill 0.3s;
	}

	&:hover &__underline, &:hover &__btc{
		fill: $light-gray;
	}

	&:hover &__text, &:hover &__globe{
		fill: map-get($foundation-palette, primary);
	}
}