.a-menuToggle{
	display: inline-block;
	vertical-align: top;
	width: 35px;
	margin-right: 10px;
	overflow: hidden;

	input{
		position: absolute;
		left: -999999%;
	}

	input[type="checkbox"]:checked + svg path{
		fill: map-get($foundation-palette, primary);
	}

	input[type="checkbox"]:checked + svg + .a-toggleNav{
		transform: translateX(0);
	}

	input[type="checkbox"] + svg path{
		fill: #fff;
	}

	svg{
		vertical-align: top;
		path{
			transition: fill 0.3s;
		}
	}

	&:hover svg path{
		fill: map-get($foundation-palette, primary);
	}
}