.pagination{
	list-style: none;
	padding: 0;
	margin: 0;
	display: flex;
	flex: 0 0 auto;
	justify-content: flex-end;

	a, span{
		display: block;
		padding: 3px 10px;
	}

	li{
		margin-left: 5px;

		&:first-child{
			margin-left: 0;
		}
	}

	a{
		background: $light-gray;
		transition: background 0.2s, color 0.2s;

		&:hover{
			background: map-get($foundation-palette, primary);
			color: #fff;
		}
	}

	span{
		background: map-get($foundation-palette, primary);
		color: #fff;
	}
	.disabled{
		opacity: 0.2;
		span{
			background: $medium-gray;
			color: $dark-gray;
		}
	}
}