.a-toggleNav{
	display: block;
	width: 200px;
	background: #fff;
	position: absolute;
	box-shadow: 0 1px 3px 0 #000000;
	transform: translateX(-150%);
	transition: transform 0.3s cubic-bezier(1, 0, 0, 1);
	margin-top: 10px;

	a{
		display: block;
		padding: 10px;
		color: $dark-gray;
		text-decoration: none;
		border-top: solid 1px $light-gray;
	}

	&__user{
		display: block;
		padding: 10px;
		color: $medium-gray;
	}
}