.m-article{
	margin-top: 25px;
	border-top: solid 1px $medium-gray;
	padding-top: 25px;

	&:first-child{
		margin-top: 0;
		border-top: 0;
		padding-top: 0;
	}
	&__title{
		font-size: rem-calc(23);
		margin-bottom: 0;
	}
	&__content p{
		margin: 0;
		font-size: rem-calc(14);
	}
	&__buttons{
		margin-top: 15px;
	}
	time{
		display: flex;
		font-size: rem-calc(12);
		font-weight: bold;
		color: $medium-gray;
		margin: 5px 0 15px;
		align-items: center;

		svg{
			width: 15px;
			margin-right: 10px;
			position: relative;
			top: -1px;

			path{
				fill: map-get($foundation-palette, primary);
			}
		}
	}
}