.m-coinList{
	border: solid 1px $medium-gray;
	padding: 10px;
	margin-bottom: 30px;

	&__searchBox{
		position: relative;
	}
	&__searchBox input{
		width: 100%;
		background: transparent;
		padding: 7px;
		font-size: rem-calc(12);
		border: 0;
		border-bottom: solid 2px $medium-gray;
		padding-left: 20px;
		transition: border 0.3s;

		&:focus{
			outline: 0;
			border-bottom: solid 2px map-get($foundation-palette, primary);
		}

		&:focus + svg path{
			fill: map-get($foundation-palette, primary);
		}
	}

	&__searchBox svg{
		width: 15px;
		position: absolute;
		top: 50%;
		left: 0;
		transform: translateY(-50%);

		path{
			fill: $dark-gray;
			transition: fill 0.3s;
		}
	}

	&__list{
		display: block;
		padding: 10px 0;
		padding-top: 0;
		height: 150px;
		overflow: auto;
		margin-top: 10px;
		padding-right:20px;

		ul{
			list-style: none;
			padding: 0;
			margin: 0;
		}

		li{
			border-bottom: solid 1px $medium-gray;
		}

		.loader{
			text-align: center;
			border-bottom: 0;
		}

		.loader img{
			width: 30px;
		}
	}
}