.m-coin{
	padding: 20px 0;
	border-bottom: solid 1px $light-gray;
	font-size: rem-calc(20);
	position: relative;

	@include breakpoint(medium){
		font-size: rem-calc(30);
	}

	&:last-of-type{
		border-bottom: 0;
	}

	&__delete{
		width: 16px;
		margin-right: 20px;

		svg{
			vertical-align: top;
			transition: opacity 0.2s;
			opacity: 0.1;
			position: relative;
			top: 0.4em;

			@include breakpoint(medium){
				top: 0.5em;
			}
		}

		&:hover svg{
			opacity: 1;
		}

		svg path{
			fill: $dark-gray; 
		}
	}

	&__price{
		color: $medium-gray;
		display: inline-block;
		vertical-align: top;

		&__noCoins{
			position: static;

			@include breakpoint(small only){
				font-size: rem-calc(16);
			}
		}

		@include breakpoint(small only){
			font-size: rem-calc(12);
			position: absolute;
		    bottom: 4px;
		    left: 36px;
		}
	}

	&__total{
		display: inline-block;
		vertical-align: top;
	}

	.-good{
		color: map-get($foundation-palette, success);
	}

	.-bad{
		color: map-get($foundation-palette, alert);
	}

	&__sep{
		display: inline-block;
		vertical-align: top;
		width: 5px;
		height: 5px;
		background: $medium-gray;
		border-radius: 50%;
		margin: 0 20px;
	}
}