.m-formItem{
	margin-bottom: 30px;

	&:last-of-type{
		margin-bottom: 0;
	}
	 input{
	 	display: block;
	 	width: 100%;
		padding: 10px;
		font-size: rem-calc(12);
		background: $white;
		border: 0;
		border: solid 1px $medium-gray;
		transition: all 0.3s;
		margin-top: 8px;
		border-radius: 3px;
	 }

	 .vfl-label{
		font-size: rem-calc(12);
		font-family: $body-font-family;
	 	padding-left: 10px;
	 }
	 .vfl-label-on-focus{
	 	color: map-get($foundation-palette, primary);
	 	padding-left: 10px;
	 }
	 .vfl-label-on-input{
	 	top: -1.6em;
	 }
	 .vfl-label-on-focus + input{
	 	border: solid 1px map-get($foundation-palette, primary);
	 }
}