.m-footerNav{
	a{
		display: inline-block;
		color: $white;
		transition: color 0.3s;

		&:hover{
			color: map-get($foundation-palette, primary);
		}

		&:before{
			content: '';
			width: 4px;
			height: 4px;
			background: map-get($foundation-palette, primary);
			display: inline-block;
			border-radius: 50%;
			margin: 0 10px;
		}

		&:first-child:before{
			display: none;
		}
	}
}