.m-modal {
    &__mask{
        position: fixed;
        z-index: 9998;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(0, 0, 0, .5);
        display: flex;
        transition: opacity .3s ease;
    }

    &__container{
        width: 100%;
        max-width: 600px;
        transition: all .3s ease;
    }

    &__header h3{
        font-size: rem-calc(14);
        padding-bottom: 10px;
        margin-bottom: 10px;
        border-bottom: solid 2px map-get($foundation-palette, primary);
        font-weight: bold;
    }
}

.modal-enter {
    opacity: 0;
}

.modal-leave-active {
    opacity: 0;
}

.modal-enter .m-modal__container,
.modal-leave-active .m-modal__container {
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
}