.m-portfolioWorth{
	width: 100%;
	margin-bottom: 40px;

	&__title{
		display: inline-block;
		color: $white;
		border-bottom: solid 2px map-get($foundation-palette, primary);
	}

	&__number{
		display: block;
		color: $white;
		font-size: rem-calc(60);
	}

	&__btc{
		font-size: rem-calc(13);
		color: #fff;
		margin-top: 10px;
		border-top: solid 1px map-get($foundation-palette, primary);
		padding-top: 10px;
	}
}