.m-socialNav{
	a{
		margin-left: 10px;

		&:hover svg path{
			fill: map-get($foundation-palette, primary);
		}
	}
	svg{
		width: 25px;
		height: 25px;
		vertical-align: top;

		path{
			transition: fill 0.2s;
		}
	}
}