.m-selectbox{
	position: relative;
	cursor: pointer;
	min-width: 120px;

	& .-inline{
		display: inline-block;
	}
	select{
		appearance: none;
		background: $white;
		font-size: rem-calc(12);
		border: solid 1px $dark-gray;
		padding: 7px;
		transition: border 0.3s;
		cursor: pointer;
		border-radius: 3px;
	}

	svg{
		vertical-align: top;
		width: 20px;
		position: absolute;
		pointer-events: none;
		right: 5px;
		top: 50%;
		transform: translateY(-50%);

		path{
			fill: $dark-gray;
		}
	}

	select:focus{
		outline: 0;
		border-color: map-get($foundation-palette, primary);
	}
}